@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
.container{
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
}
.site-main__header{
    max-width: 1440px;
    width: 100%;
    background-color: #0e0e0e;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    z-index: 2;
}
.header__main{
    width: 1110px;
    height: 80px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
}
.wrapper{
    display: none;
}
.header__list{
    width: 429px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.header__list ul{
    list-style: none;
    width: 100%;
    height: 100%;
}
.header__list ul li{
    text-align: center;
    width: 25%;
    line-height: 25px;
    float: left;
}
.header__list-link{
    text-decoration: none;
    color: #fff;
}
.header__list-link:hover{
    text-decoration: underline;
}
.header-image{
    position: relative;
    top: 90px;
    width: 1110px;
    height: 1px;
    margin: 0 auto;
}
.site-main{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.site-main__section-1{
    width: 1110px;
    margin: 0 auto;
    height: 780px;
}
.section-1__link{
    color: #000;
    opacity: 0.5;
    text-decoration: none;
    position: relative;
    top: 100px;
}
.section-1__info{
    width: 100%;
    height: 100%;
}
.section-1__products{
    width: 100%;
    height: 560px;
    position: relative;
    top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.section-1__headphone{
    width: 540px;
    height: 560px;
    background-color: #f1f1f1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.section-1__text{
    width: 540px;
    margin-left: 125px;
}
.section-1__price{
    width: 445px;
}
.price-second-part{
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 48px;
    margin-top: 47px;
}
.price-input{
    width: 120px;
    height: 48px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.right{
    margin-left: 0;
}
.section-1__left-text__heading-1{
    font-size: 56px;
    line-height: 58px;
    text-transform: uppercase;
    margin: 24px 0;
}
.section-1__left__paragraph-1{
    letter-spacing: 10px;
    color: #d87d4a;
}
.section-1__left__paragraph-2{
    font-size: 15px;
    opacity: 0.75;
    line-height: 25px;
    width: 445px;
    margin-bottom: 44px;
}
.section-1__left-link{
    background-color: #d87d4a;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-size: 13px;
    font-weight: 700;
}
.section-1__left-link:hover{
    background-color: #FBAF85;
    border-radius: 5px;
}
.section-1__price--paragraph{
    letter-spacing: 1.29px;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}
.site-main__section-2{
    width: 1110px;
    height: 318px;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.section-2__left{
    width: 50%;
}
.section-2__right{
    width: 360px;
}
.section-2__features{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 200px;
}
.section-2__left-paragraph{
    width: 635px;
    opacity: 0.5;
    color: #000;
    font-weight: 500;
    line-height: 25px;
}
.margin-top{
    margin-top: 30px;
}
.unit{
    text-align: left;
    width: 170px;
}
#unit{
    width: 170px;
}
.red-paragraph{
    color: #D87D4A;
}
.site-main__section-3{
    width: 1110px;
    height: 592px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.top-image{
    margin-bottom: 25px;
}
.section-3__right{
    margin-left: 25px;
}
.section-3__image{
    border-radius: 8px;
}
.site-main__section-4{
    width: 1110px;
    display: block;
    margin: 60px 0;
}
.section-4__top-part{
    width: 1110px;
    height: 571px;
    text-align: center;
}
.section-4--product-carts{
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.tools-bg{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 350px;
    height: 318x;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
}
.tools-bg img{
    position: relative;
    bottom: 60px;
    width: 122px;
    height: 160px;
}
.tools-link{
    width: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.tools-link:hover{
    color: #D87D4A;
}
#link-img{
    bottom: 0;
    width: 5px;
    height: 10px;
}
.tools-paragraph{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.29px;
    position: relative;
    bottom: 20px;
}
.tools-link{
    opacity: 0.5;
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
    left: 40px;
}
.section-4__bottom{
    width: 1110px;
    height: 500px;
}
.product-cart-head{
    width: 350px;
    height: 318px;
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.product-cart-head img{
    width: 148px;
    height: 193px;
}
.section-4__product-description{
    margin-top: 20px;
}
.margin-bottom{
    margin-bottom: 20px;
}
.site-main__section-5{
    width: 1110px;
    height: 588px;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.section-5__inside-text{
    width: 30%;
}
.section-5__image{
    width: 445px;
    height: 588px;
    background-image: url(../img/listeing__man.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 8px;
}
.section-5__heading-3{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
    margin-bottom: 32px;
    width: 445px;
}
.color-yellow{
    color: #D87D4A;
}
.section-5__paragraph{
    width: 445px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    opacity: 0.5;
}
.section-5-image{
    display: none;
}
.site-footer{
    width: 1440px;
    height: 365px;
    background-color: #101010;
}
.footer__header-part{
    margin: 0 auto;
    position: relative;
    top: 75px;
    width: 1110px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer__list{
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer__main-part{
    position: relative;
    top: 136px;
    width: 1110px;
    margin: 0 auto;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer__main-part__paragraph{
    color: #fff;
    opacity: 0.5;
    width: 540px;
    line-height: 25px;
    font-size: 15px;
}
.footer-bottom{
    margin-top: 56px;
}
#footer-link-icon{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #fff;
}
#footer-link-icon:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
@media (max-width: 768px) {
    .container{
        max-width: 768px;
        width: 768px;
        margin: 0 auto;
    }
    .site-main__header{
        max-width: 768px;
        width: 768px;
        background-color: #0e0e0e;
        height: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: fixed;
        z-index: 2;
    }
    .header__main{
        width: 768px;
        height: 80px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: fixed;
        padding: 0 10px;
    }
    .header__list{
        display: none;
    }
    .wrapper{
        width: 40px;
        position: relative;
        color: #fff;
        text-align: center;
        height: 40px;
        display: block;
    }
    #checkbox{
        display: none;
    }
    label{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        line-height: 40px;
    }
    .burger-line{
        position: absolute;
        top: 8px;
        right: 10px;
        width: 16px;
        height: 3px;
        border-radius: 20px;
        background-color: #fff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    .second, .third{
        top: 18px;
    }
    .fourth{
        top: 28px;
    }
    .main-menu{
        display: block;
        position: absolute;
        width: 200px;
        height: 200px;
        bottom: 0;
        left: 0;
        -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
                transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    .burger__link{
        display: block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        border-top: 1px solid #fff;
        background-color: #000;
    }
    .burger__link:hover{
        background-color: #fff;
        color: #000;
    }
    #checkbox:checked ~ .main-menu{
        max-height: 500px;
        font-size: 16px;
    }
    #checkbox:checked ~ .first{
        display: none;
    }
    #checkbox:checked ~ .second{
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    #checkbox:checked ~ .third{
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    #checkbox:checked ~ .fourth{
        display: none;
    }
    .header-image{
        position: relative;
        top: 90px;
        width: 768px;
        height: 1px;
        margin: 0 auto;
    }
    .site-main{
        max-width: 689px;
        width: 100%;
        margin: 0 auto;
    }
    .site-main__section-1{
        width: 689px;
        margin: 0 auto;
    }
    .section-1__products{
        width: 689px;
        margin: 0 auto;
    }
    .section-1__headphone{
        width: 281px;
        height: 480px;
    }
    .section-1__headphone img{
        width: 280px;
    }
    .section-1__text{
        width: 309px;
    }
    .section-1__left__paragraph-1{
        width: 309px;
    }
    .section-1__left-text__heading-1{
        font-size: 28px;
        width: 309px;
        line-height: 32px;
        margin: 17px 0;
    }
    .section-1__left__paragraph-2{
        width: 309px;
    }
    .section-1__price{
        width: 309px;
    }
    .site-main__section-2{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 689px;
    }
    .section-2__right{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 549px;
        margin-top: 30px;
    }
    .site-main__section-3{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        width: 689px;
        height: 368px;
        position: relative;
        top: 150px;
    }
    .section-3__right{
        margin-left: 10px;
    }
    .right-image{
        width: 329px;
        height: 368px;
    }
    .top-image{
        width: 339px;
        height: 177px;
        margin-bottom: 10px;
    }
    .left-top-image{
        width: 339px;
        height: 177px;
    }
    .site-main__section-4{
        position: relative;
        top: 200px;
        margin: 0 auto;
        width: 691px;
    }
    .section-4__top-part{
        width: 689px;
    }
    .product-cart-head{
        width: 223px;
        height: 318px;
    }
    .section-4__bottom-part{
        width: 689px;
    }
    .tools{
        width: 223px;
        height: 318px;
    }
    .tools-bg{
        width: 100%;
        height: 100%;
    }
    .tools-link{
        left: 30px;
    }
    .site-main__section-5{
        position: relative;
        top: 100px;
        width: 689px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto;
    }
    .section-5__inside-text{
        width: 445px;
        margin: 30px 0;
    }
    .section-5__image{
        background-size: cover;
        -o-object-fit: contain;
           object-fit: contain;
        width: 689px;
        margin: 0 auto;
    }
    .site-footer{
        position: relative;
        top: 150px;
        width: 768px;
        height: 365px;
        background-color: #101010;
    }
    .footer__header-part{
        margin: 0 auto;
        position: relative;
        top: 75px;
        width: 689px;
        height: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer__main-part{
        position: relative;
        top: 140px;
        width: 689px;
        margin: 0 auto;
        height: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer__main-part__paragraph{
        color: #fff;
        opacity: 0.5;
        width: 540px;
        line-height: 25px;
        font-size: 15px;
    }
    .footer-socials{
        position: relative;
        top: 80px;
    }
    .footer-bottom{
        margin-top: 56px;
    }
    #footer-link-icon{
        width: 24px;
        height: 24px;
        margin: 0 10px;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        color: #fff;
    }
    #footer-link-icon:hover{
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }
}
@media (max-width: 375px) {
    .container{
        max-width: 375px;
        width: 375px;
        margin: 0 auto;
    }
    #display-none{
        display: none;
    }
    .site-main__header{
        max-width: 375px;
        width: 100%;
        background-color: #0e0e0e;
        height: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: fixed;
        z-index: 2;
    }
    .header__main{
        width: 375px;
        height: 80px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: fixed;
    }
    .wrapper{
        width: 40px;
        position: relative;
        color: #fff;
        text-align: center;
        height: 40px;
        display: block;
    }
    #checkbox{
        display: none;
    }
    label{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        line-height: 40px;
    }
    .burger-line{
        position: absolute;
        top: 8px;
        right: 10px;
        width: 16px;
        height: 3px;
        border-radius: 20px;
        background-color: #fff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    .second, .third{
        top: 18px;
    }
    .fourth{
        top: 28px;
    }
    .main-menu{
        display: block;
        position: absolute;
        width: 200px;
        height: 200px;
        bottom: 0;
        left: 0;
        -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
                transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    .burger__link{
        display: block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        border-top: 1px solid #fff;
        background-color: #000;
    }
    #checkbox:checked ~ .main-menu{
        max-height: 500px;
        font-size: 16px;
    }
    #checkbox:checked ~ .first{
        display: none;
    }
    #checkbox:checked ~ .second{
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    #checkbox:checked ~ .third{
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    #checkbox:checked ~ .fourth{
        display: none;
    }
    .site-main{
        max-width: 327px;
        width: 100%;
        margin: 0 auto;
    }
    .site-main__section-1{
        width: 327px;
        margin: 0 auto;
    }
    .section-1__products{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 327px;
    }
    .section-1__text{
        width: 309px;
        margin: 0 auto;
    }
    .section-1__price{
        width: 327px;
    }
    .site-main__section-2{
        width: 327px;
        margin: 150px auto;
    }
    .section-2__left-paragraph{
        width: 327px;
    }
    .section-2__right{
        width: 327px;
    }
    .site-main__section-3{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto;
        position: relative;
        top: 300px;
        width: 327px;
        height: 756px;
    }
    .section-3__inside-text{
        text-align: center;
        width: 327px;
        margin: 0 auto;
    }
    .section-3__heading-3{
        width: 327px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    .section-3__paragraph{
        width: 327px;
    }
    .section-3-image{
        display: block;
        width: 100px;
        height: 200px;
    }
    .section-3-image img{
        width: 327px;
        height: 320px;
    }
    .site-main__section-4{
        width: 327px;
        margin: 0 auto;
        margin-top: 120px;
    }
    .section-4__top-part{
        width: 327px;
        height: 500px;
    }
    .section-4--product-carts{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 500px;
    }
    .section-4--product-cart{
        margin: 30px 0;
    }
    .product-cart-head{
        width: 327px;
        height: 120px;
    }
    .product-cart-head img{
        width: 73px;
        height: 95px;
    }
    .section-4__bottom-part{
        width: 327px;
        position: relative;
        top: 400px;
        height: 500px;
    }
    .tools{
        width: 327px;
        height: 165px;
    }
    .tools-bg{
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
    }
    .tools_content img{
        position: relative;
        left: 10px;
        width: 73px;
        height: 95px;
    }
    .site-main__section-5{
        width: 327px;
        position: relative;
        top: 750px;
        margin: 0 auto;
    }
    .section-5__image{
        width: 327px;
    }
    .section-5__inside-text{
        width: 327px;
        text-align: center;
    }
    .section-5__heading-3{
        width: 327px;
        font-size: 28px;
    }
    .section-5__paragraph{
        width: 327px;
    }
    .site-footer{
        position: relative;
        margin: 0 auto;
        top: 800px;
        width: 375px;
        height: 654px;
        background-color: #101010;
    }
    .footer__header-part{
        margin: 0 auto;
        position: relative;
        top: 75px;
        width: 327px;
        height: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer__list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 143px;
        text-align: center;
        margin: 20px 0;
    }
    .footer__main-part{
        position: relative;
        top: 136px;
        width: 327px;
        margin: 0 auto;
        height: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer__main-part__text{
        margin-top: 60px;
    }
    .footer__main-part__paragraph{
        color: #fff;
        opacity: 0.5;
        width: 327px;
        text-align: center;
        line-height: 25px;
        font-size: 15px;
    }
    .footer-socials{
        position: relative;
        top: 80px;
    }
    .footer-bottom{
        margin-top: 56px;
    }
    #footer-link-icon{
        width: 24px;
        height: 24px;
        margin: 0 10px;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        color: #fff;
    }
    #footer-link-icon:hover{
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }
}